@font-face {
    font-family: Againts;
    src: url(../fonts/againts.ttf);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(../fonts/HelveticaNeue-Thin.otf);
}

@font-face {
  font-family: MoonBold;
  src: url(../fonts/Moon-Bold.otf);
}

@font-face {
  font-family: MoonLight;
  src: url(../fonts/Moon-Light.otf);
}

@font-face {
  font-family: Antipasto-extralight;
  src: url(../fonts/Antipasto_extralight.otf);
}

@font-face {
  font-family: Antipasto-extrabold;
  src: url(../fonts/Antipasto_extrabold.otf);
}

@font-face {
  font-family: Antipasto-regular;
  src: url(../fonts/Antipasto_regular.otf);
}

a:link{
  color: #1A1A1A;
  text-decoration: none;
}

a:visited{
  color: #1A1A1A;
  text-decoration: none;
}

a:hover{
  color: #1A1A1A;
  text-decoration: none;
}

a:active{
  color: #1A1A1A;
  text-decoration: none;
}

.content{
  position: relative;
  margin-top: 0;
  overflow: hidden;
  width: 100vw;
  background-color: transparent;

}


.chevronBottom{
  position: relative;
  width: 0;
  height: 0;
  border-top: 100px solid;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;

}

.container{
  position: relative;
}

.generalNav{
  opacity: 0.0;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  z-index: 100;
}

.footer{
  font-family: MoonLight;
  color: #8F8D8A;
  font-size: 0.6em;
  position: relative;
  vertical-align: bottom;
  width: 100vw;
  text-align: center;
}

@media only screen and (min-device-width: 319px) and (max-device-width: 415px) {
  .chevronBottom{
    top: -1px;
  }
}
