/* -----------------------CORE------------------------------------- */

body{
  margin: 0px;
  height: 230vh; /* heights of three chevron's added together + 11vh for footer */
  background-color: #FFFFFF; /* colour of last chevron*/
}


/* ----------------------- GENERAL NAV ------------------------------------- */

#generalNavOnPortfolioPage{
  opacity: 1.0;
}

#generalHomeNav{
  opacity: inherit;
  position: absolute;
  font-family: MoonBold;
  font-size: 0.9em;
  top: 3vh;
  right: 50vw;
  color: #1A1A1A;
  z-index: 3;
  font-style: normal;
  opacity: 1.0;
}

#generalPortfolioNav{
  opacity: inherit;
  position: absolute;
  font-family: MoonBold;
  font-size: 0.9em;
  top: 3vh;
  right: 30vw;
  color: #1A1A1A;
  z-index: 3;
  font-style: normal;
  opacity: 1.0;
}

#generalContactNav{
  opacity: inherit;
  position: absolute;
  font-family: MoonBold;
  font-size: 0.9em;
  top: 3vh;
  right: 15vw;
  color: #1A1A1A;
  z-index: 3;
  font-style: normal;
  opacity: 1.0;
}

#generalLogoNav{
  opacity: inherit;
  position: relative;
  height: 6vh;
  top: 1vh;
  left: 3vw;
  opacity: 1.0;
}

/* ----------------------- CONTAINERS ------------------------------------- */

#containerSoftwareSummary{
  top: -100px;
  z-index: -1;
}

#containerSoftwareProjects{
  top: -200px;
  z-index: -2;
}

#containerDigitalMedia{
  top: -700px;
  z-index: -3;
}

#containerDigitalMediaProjects{
  top: -800px;
  z-index: -4;
}

/* ----------------------- CONTENT BOXES ------------------------------------- */


.software-projects-title{
  font-family: MoonBold;
  color: #FF6666;
  font-size: 1.5em;
  top:130px;
  position: relative;
}
.software-projects-body{
  font-family: Antipasto-extralight;
  color: #696969;
  font-size: 1em;
  letter-spacing: 2px;
  top:200px;
  position: relative;
  line-height: 25px;
}

.digital-projects-title{
  font-family: MoonBold;
  color: #FF6666;
  font-size: 1.5em;
  top:130px;
  position: relative;
}
.digital-projects-body{
  font-family: Antipasto-extralight;
  color: #696969;
  font-size: 1em;
  letter-spacing: 2px;
  top:200px;
  position: relative;
  line-height: 25px;
}

#content-home{
  height: 130vh;
  background-color: #1A1A1A;
}

#content-portfolio-software{
  height: 40vh; /* extended is 40vh */
  background-color: #FF6666;
}

#content-portfolio-software-projects-1{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  text-align: center;
  background-image: url("../images/redlab.png");
  background-size: cover;
}

#content-portfolio-software-projects-2{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -100px;
  z-index: -1;
  text-align: center;
  background-image: url("../images/bloated.png");
  background-size: cover;
}

#content-portfolio-software-projects-3{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -200px;
  z-index: -2;
  text-align: center;
  background-image: url("../images/noflix.png");
  background-size: cover;
}

#content-portfolio-software-projects-4{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -300px;
  z-index: -3;
  text-align: center;
  background-image: url("../images/startup.png");
  background-size: cover;
}

#content-portfolio-software-projects-5{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -400px;
  z-index: -4;
  text-align: center;
  background-image: url("../images/java.png");
  background-size: cover;
}

#content-portfolio-digitalmedia{
  height: 40vh;
  background-color: #33CCCC;
}

#content-portfolio-digitalmedia-projects-1{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  text-align: center;
  background-image: url("../images/branding.png");
  background-size: cover;
}

#content-portfolio-digitalmedia-projects-2{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -100px;
  z-index: -1;
  text-align: center;
  background-image: url("../images/uxui.png");
  background-size: cover;
}

#content-portfolio-digitalmedia-projects-3{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -200px;
  z-index: -2;
  text-align: center;
  background-image: url("../images/webdesign.png");
  background-size: cover;
}

#content-portfolio-digitalmedia-projects-4{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -300px;
  z-index: -3;
  text-align: center;
  background-image: url("../images/film.png");
  background-size: cover;
}

#content-portfolio-digitalmedia-projects-5{
  height: 0vh; /* extended to larger height on click*/
  background-color: #FBFBFB;
  top: -400px;
  z-index: -4;
  text-align: center;
  background-image: url("../images/art.png");
  background-size: cover;
}

/* ----------------------- CHEVRON POINTS ------------------------------------- */
#portfolioChevron{
  border-top-color: #1A1A1A;
}

#softwareSummaryChevron{
  border-top-color: #FF6666;
  cursor: pointer;
}

#softwareSummaryProjectsChevron-1{
  border-top-color: #FBFBFB;
}

#softwareSummaryProjectsChevron-2{
  border-top-color: #FBFBFB;
  top: -100px;
}

#softwareSummaryProjectsChevron-3{
  border-top-color: #FBFBFB;
  top: -200px;
}

#softwareSummaryProjectsChevron-4{
  border-top-color: #FBFBFB;
  top: -300px;
}

#softwareSummaryProjectsChevron-5{
  border-top-color: #FBFBFB;
  top: -400px;
}


#digitalMediaSummaryChevron{
  border-top-color: #33CCCC;
  cursor: pointer;
}

#digitalMediaProjectsChevron-1{
  border-top-color: #FBFBFB;
}

#digitalMediaProjectsChevron-2{
  border-top-color: #FBFBFB;
  top: -100px;
}

#digitalMediaProjectsChevron-3{
  border-top-color: #FBFBFB;
  top: -200px;
}

#digitalMediaProjectsChevron-4{
  border-top-color: #FBFBFB;
  top: -300px;
}

#digitalMediaProjectsChevron-5{
  border-top-color: #FBFBFB;
  top: -400px;
}

.center-github{
  margin: 0 auto;
  display: block;
  position: relative;
  left: -32px;
  bottom: 150px;
}

#center-comingsoon{
  margin: 0 auto;
  display: block;
  position: relative;
  left: -96.5px;
  bottom: 150px;
}
/* ----------------------- PORTFOLIO VIEW ------------------------------------- */

#Portfolio{
  position: relative;
  font-size: 10em;
  text-align: center;
  font-family: Againts;
  color: #EEEEEE;
  top: 22vh;
}

#PortfolioSummary{
  position: relative;
  font-size: 1em;
  text-align: center;
  font-family: MoonLight;
  color: #EEEEEE;
  top: 30vh;
  width: 50vw;
  display: block;
  margin: 0 auto;
  line-height: 3em;
}

.clickIconDiv{
  position: absolute;
  left: 50%;
}

/* ----------------------- INVISIBLE HOVER ------------------------------------- */
#SoftwareSummaryHover{
  position: absolute;
  height: 40vh;
  width: 100vw;
  background-color: transparent;
  z-index: 10;
  /*opacity: 0.4;*/
}

#DigitalMediaHover{
  position: absolute;
  height: 40vh;
  width: 100vw;
  background-color: transparent;
  z-index: 10;
  /*opacity: 0.4;*/
}

#SoftwareSummaryClickHover{
  position: absolute;
  height: 15vh;
  width: 75vw;
  background-color: transparent;
  cursor: pointer;
  bottom: 0;
  left: 12.5%;
  /*opacity: 0.4;*/
}

#DigitalMediaClickHover{
  position: absolute;
  height: 15vh;
  width: 75vw;
  background-color: transparent;
  cursor: pointer;
  bottom: 0;
  left: 12.5%;
  /*opacity: 0.4;*/

}

/* ----------------------- SOFTWARE SECTION ------------------------------------- */
#Software{ /* extended is 20vh*/
  font-family: MoonBold;
  font-size: 2em;
  text-align: center;
  position: relative;
  color: #EEEEEE;
  top: 20vh;
}

#SoftwareSummary{
  position: relative;
  font-family: MoonLight;
  font-size: 1em;
  text-align: center;
  width: 60vw;
  display: block;
  margin: 0 auto;
  line-height: 2em;
  color: #EEEEEE;
  top: 23vh;
}

#clickSoftware{
  bottom: 10vh;
  position: relative;
  height: 6vh;
  left: -50%;
  opacity: 0;
}

/* ----------------------- DIGITAL SECTION ------------------------------------- */
#DigitalMedia{
  font-family: MoonBold;
  font-size: 2em;
  text-align: center;
  position: relative;
  color: #EEEEEE;
  top: 20vh;
}

#DigitalMediaSummary{
  position: relative;
  font-family: MoonLight;
  font-size: 1em;
  text-align: center;
  width: 60vw;
  display: block;
  margin: 0 auto;
  line-height: 2em;
  color: #EEEEEE;
  top: 23vh;
}

#clickDigital{
  bottom: 10vh;
  position: relative;
  height: 6vh;
  left: -50%;
  opacity: 0;
}
/* ----------------------- FOOTER ------------------------------------- */

#footerOnPortfolioPage{
  top: -650px;
}
/* -----------------------MOBILE SUPPORT------------------------------------- */

@media only screen and (min-device-width: 319px) and (max-device-width: 415px) {

  #generalHomeNav{
    font-size: 1.5em;
    right: 60vw;
  }

  #generalPortfolioNav{
    font-size: 1.5em;
    right: 35vw;
  }

  #generalContactNav{
    font-size: 1.5em;
    right: 15vw;
  }

  #generalLogoNav{
    left: 8vw;
  }

  #Portfolio{
    font-size: 16em;
  }

  #PortfolioSummary{
    top: 30vh;
    font-size: 1.5em;
    width: 75vw;
  }

  #Software{
    top: 13vh;
    font-size: 4em;
  }

  #SoftwareSummary{
    top: 18vh;
    font-size: 1.5em;
  }

  #DigitalMedia{
    top: 13vh;
    font-size: 4em;
  }

  #DigitalMediaSummary{
    top: 18vh;
    font-size: 1.5em;
  }

  .software-projects-title{
    font-family: MoonBold;
    color: #FF6666;
    font-size: 4em;
    top:200px;
    position: relative;
  }
  .software-projects-body{
    font-family: Antipasto-extralight;
    color: #696969;
    font-size: 1.8em;
    letter-spacing: 2px;
    top:270px;
    position: relative;
    line-height: 45px;
    width: 80vw;
    display: block;
    margin: 0 auto;
  }

  .digital-projects-title{
    font-family: MoonBold;
    color: #FF6666;
    font-size: 4em;
    top:200px;
    position: relative;
  }
  .digital-projects-body{
    font-family: Antipasto-extralight;
    color: #696969;
    font-size: 1.8em;
    letter-spacing: 2px;
    top:270px;
    position: relative;
    line-height: 45px;
    width: 80vw;
    display: block;
    margin: 0 auto;
  }

}
